<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <nav class="ms-5 d-flex align-items-center gap-3">
        {% if user.is_authenticated %}
        <h5 class="my-0 font-weight-normal mb-0">Привет, {{ user.email }}!</h5>
        <a class="p-2 btn btn-outline-primary" href="{% url 'users:profile' %}">Профиль</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'users:logout' %}">Выход</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'users:statistics' %}">Статистика</a>
        {% else %}
        <a class="p-2 btn btn-outline-primary" href="{% url 'users:login' %}">Вход</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'users:register' %}">Регистрация</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'users:password_reset' %}">Забыли пароль?</a>
        {% endif %}
        <a class="p-2 btn btn-outline-primary" href="{% url 'main' %}">Главная</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'recipients:recipients_list' %}">Список клиентов</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'messaging:messages_list' %}">Список сообщений</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'mailing:mailings_list' %}">Список рассылок</a>
    </nav>
</div>