{% extends 'users/main.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>Письмо отправлено</h4>
                </div>
                <div class="card-body">
                    <p>Мы отправили вам инструкции по восстановлению пароля на указанный email.</p>
                    <p>Если вы не получили письмо, проверьте папку "Спам" или убедитесь, что ввели правильный email.</p>
                    <a href="{% url 'users:password_reset' %}" class="btn btn-primary">Попробовать снова</a>
                    <a href="{% url 'users:login' %}" class="btn btn-secondary">Вернуться к входу</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}